<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->

<!--    {% load static %}-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" href="{% static 'style/style.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">-->
<!--    <title>Maqola 1</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            {% for i in maqola %}-->
<!--            <div class="col-12">-->
<!--                <br>-->
<!--                <h1>{{ i.title }}</h1>-->
<!--                    {% if i.photo %}-->
<!--                <img src="{{ i.photo.url }}" alt="">-->
<!--                    {% endif %}-->
<!--                <p>{{ i.text }}</p>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--        <div class="row footer">-->
<!--            <p>© 2023 codial.com</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->